{% load staticfiles %}
<div class=" product-card">
    <div class="col-xs-6">
        <img src="{% static 'img/kurti.png' %}" />
    </div>
    <div class="col-xs-6">
        <ul>
            <li>
              <a href="{{p.url}}">
                <strong>{{p.name}}</strong>
              </a>
            </li>
            <hr />
            <li>
                {{p.max_discount}}% discount
            </li>
            <hr />
            <li>
                <span>Rs. {{p.price_per_unit}} / piece</span>
                <br />
                Rs. {{p.discounted_price_per_unit}} / piece
            </li>
            <hr />
            <li>
                Lot Size: {{p.lot_size}} units
            </li>
        </ul>
    </div>
</div>
