{% load staticfiles %}
<div class=" product-card">
    <div class="col-xs-6">
        <img src="{% static 'img/kurti.png' %}" />
    </div>
    <div class="col-xs-6">
        <ul>
            <li>
                <strong>Product Name</strong>
            </li>
            <hr />
            <li>
                20% discount
            </li>
            <hr />
            <li>
                <span>Rs. 2000 / piece</span>
                <br />
                Rs. 1500 / piece
            </li>
            <hr />
            <li>
                Lot Size: 10 units
            </li>
        </ul>
    </div>
</div>
