
body {
    padding-bottom: 70px;
    margin-top: 50px;
}

.header {
    width: 100%;
    color: white;
}

.header a {
    color: white;
}

.header p {
    font-size: 1em;
}

/* sidebar-navigation */
.sidebar-navigation {
    background-color: #000;
    width: 20%;
    height: 100vh;
    color: rgb(255,255,255)
}
