{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    {% compress css %}
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    {% endcompress %}
</head>
<body>

    {% include 'partials/header.html' %}

    {% if sidebar_navigation.display %}
        {% include 'partials/sidebar_navigation.html' with data=sidebar_navigation.data %}
    {% endif %}

    {% block content %}{% endblock %}

    {% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/doT/doT.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/t3js/dist/t3.min.js' %}"></script>
    {% endcompress %}

    {% block javascript %}{% endblock %}
</body>
</html>
